@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  /* Paleta de colores*/
  --primaryColor: #011627;
  --secondaryColor: #A4BFEB;
  --activeColor: #53D8FB;
  /* Colores Alternativos: #87D68D; #2A6041; #28965A; #104911; */
}

/* Color de fondo */
html{
  height: 100%;
}

body {
  height: 100%;
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

.theme-bg {
  background-color: var(--primaryColor);
}

/* Color de los ítems del sidebar */
.items-color {
  color: #fff;
}

.items-color:hover {
  color: var(--activeColor)
}

.items-color:hover .items-color {
  color: var(--activeColor)
}

.activo {
  color: var(--activeColor);
}

/* Cajas de texto */
.input-style {
  border-color: var(--secondaryColor);
}

.input-style:focus {
  border-color: var(--secondaryColor);
  box-shadow: var(--secondaryColor) 0px 3px 8px;
}

/* Cards */
.card {
  background-color: #fff;
  height: 125px;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
  transition: background-color 0.5s ease; 
}

.card:hover {
  scale: 1.1;
  filter: brightness(130%);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
}

.l-bg-red {
  background: linear-gradient(to right, rgb(92, 46, 53), rgb(255, 9, 50)) !important;
  color: #fff;
}

.l-bg-purple {
  background: linear-gradient(to right, rgb(79, 53, 94), rgb(111, 10, 170)) !important;
  color: #fff;
}

.l-bg-blue-light {
  background: linear-gradient(to right, #366b80, #30abdb) !important;
  color: #fff;
}

.l-bg-blue-dark {
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
}

.l-bg-green-dark {
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
  color: #fff;
}

.l-bg-yellow {
  background: linear-gradient(to right, #777334, #fff456) !important;
  color: #fff;
}

.l-bg-orange-dark {
  background: linear-gradient(to right, #a86008, #ffba56) !important;
  color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

/* Paginación de tablas */
.page-item.active .page-link {
  background-color: var(--secondaryColor) !important;
  color: #212529;
  border: 1px solid var(--primaryColor);
}

.page-link {
  background-color: var(--primaryColor) !important;
  color: #fff;
}

.page-link:hover {
  background-color: var(--secondaryColor) !important;
  color: #212529;
  border: 1px solid var(--primaryColor);
}